body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #a165de;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.btn, .stop {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #663298;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4a2275;
}

.stop {
    background-color: #ff6347;
}

.stop:hover {
    background-color: #e53a28;
}